body {
    background-color: rgb(224, 95, 117);
    margin: 100px;
    text-align: center;
}
form {
    margin-left: 10px;
}
form input {
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px black solid;
    padding: 5px;
}
button {
    margin-top: 10px;
    width: 80px;
    background-color: rgb(167, 132, 137);
    border-style: none;
    color: white;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}